.image {
    width: 100px;
    height: 100px;
    border-radius: 6px;
    border: 1px solid rgb(88, 80, 101);
    margin-left: 0px;
}

.false {
    opacity: 50%;
}

.cardContainer {
    display: grid;
    grid-template-columns: 1fr auto;
    /* Primera columna para la imagen (1fr) y segunda columna para el resto de la card (auto) */
    grid-template-areas: "image content";
    /* Define las áreas de la grid */
    grid-gap: 20px;
    /* Espacio entre las tarjetas */
}

.header {
    flex: 1 1 0%;
    overflow: hidden;
}

.headerContainer {
    display: flex;
    padding: 20px;
    gap: 15px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}