.container {
    display: flex;
    align-items: center;
    justify-content:space-around;
    
    
    /* border: 3px solid black; */
    height: 100vh;
}

.container ul {
    list-style-type: none;
    flex-direction:row;
}