.button{
    align-items: center;
    border: 2px solid #B20027;
    color: white;
    background-color: #b93d43;
    border-radius: 2em;
    width: 40%;
    height: 70%;
}

.button:hover{
    background-color: #aa1920;
    border: 2px solid #80001c;
    cursor: pointer;
}

.buttonUndo{
    align-items: center;
    border: 2px solid #446A61;
    border-radius: 2em;
    color: white;
    background-color: #598F54;
    width: 40%;
    height: 70%;
    margin-left: -1.5em;
}
.buttonUndo:hover{
    background-color: #356b3d;
    border: 2px solid #345331;
    cursor: pointer;
}

.status{
    color: #345331;
    background-color: #B5F452;
    padding: 5px;
    font-weight: 500;
    border-radius: 0.8em;
}

.statusBanned{
    color: #80001c;
    background-color: #D06E6B;
    padding: 5px;
    font-weight: 500;
    border-radius: 0.8em;
}

.statusInactive{
    color: #CE5905;
    background-color: #fdb665;
    padding: 5px;
    font-weight: 500;
    border-radius: 0.8em;
}

.buttonAdmin{
    margin-left: 1em;
    align-items: center;
    border: 2px solid #446A61;
    color: white;
    background-color: #598F54;
    border-radius: 2em;
    width: 40%;
    height: 70%;
}
.buttonAdmin:hover{
    background-color: #356b3d;
    border: 2px solid #345331;
    cursor: pointer;
}

.buttonAdminChau{
    margin-left: 1em;
    margin-top: -1em;
    align-items: center;
    border: 2px solid #B20027;
    color: white;
    background-color: #b93d43;
    border-radius: 2em;
    width: 40%;
    height: 70%;
}
.buttonAdminChau:hover{
    background-color: #aa1920;
    border: 2px solid #80001c;
    cursor: pointer;
}

.contBanadmin{
    height: 100%;
    width: 100%;
    margin-left: -2.5em;
    padding-top: 0.5em;
}